.parf {
    width: 100%; /* Ancho del contenedor */
    margin: 0 auto; /* Centrar el contenedor horizontalmente */
    padding: 20px; /* Espaciado interno del contenedor */
    background-color: #ffffff; /* Color de fondo del contenedor */
    border: 1px solid #ffffff; /* Borde del contenedor */
    border-radius: 10px; /* Borde redondeado */
    text-align: center; /* Centra el texto dentro del contenedor */


  }
  
  .parf p {
    margin: 0; /* Eliminar el margen predeterminado del párrafo */
  } 